node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.nuxt/
.output/

*.env
.env.local
.env.*.local

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.git/
.gitignore

Dockerfile
docker-compose.yml